@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  transition: all 0.5s;
  scroll-behavior: smooth;
}
select:invalid {
  color: #949ba7;
}
select:valid {
  color: #949ba7;
}
